{% extends 'base.html' %}

{% block title %}Goals{% endblock title %}

{% block body %}

<main class="container mt-3">
  <h1 class="h1 text-center w-50 mx-auto mt-1 py-5 mb-4"><strong>{{ context.goal.icon }}<br />Преподаватели <br> {{ context.goal.description|lower }}</strong></h1>

    <div class="row">
    {% for elem in context.teachers %}
    <div class="col-12 col-lg-10 offset-lg-1 m-auto">
      <div class="card mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-3"><img src="{{ elem.picture }}" class="img-fluid" alt=""></div>
            <div class="col-9">
              <p class="float-right">Рейтинг: {{ elem.rating }} Ставка: {{ elem.price }} / час</p>
              <h2 class="h4"><a href="{{ url_for('teacher_profile_view', teacher_id=elem.id) }}">{{ elem.name }}</a></h2>
              <p>{{ elem.about }}</p>
              <a href="{{ url_for('teacher_profile_view', teacher_id=elem.id) }}" class="btn btn-outline-primary btn-sm mr-3 mb-2">Показать информаци и расписание</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  {% include 'order_teacher.html' %}

</main>

{% endblock body %}