{% extends 'base.html' %}

{% block title %}Request{% endblock title %}

{% block body %}

<main class="container mt-5">
  <div class="col-12 col-sm-10 col-lg-6 offset-lg-3 offset-sm-1">
    {% for field_name, field_errors in form.errors|dictsort if field_errors %}
      {% for error in field_errors %}
        <div class="alert alert-danger" role="alert">
          Поле "{{ form[field_name].label|lower }}": {{ error }}
        </div>
      {% endfor %}
    {% endfor %}
    <form action="" method="POST" class="card mb-5">
      <div class="card-body text-center pt-5">
        <h1 class="h3 card-title mt-4 mb-2">Подбор преподавателя</h1>
        <p class="px-5">Напишите, чего вам нужно и&nbsp;мы&nbsp;подберем отличных&nbsp;ребят</p>
      </div>
      <hr>
      <div class="card-body mx-3">
        <div class="row">
          <div class="col">
            <p>Какая цель занятий?</p>
            <div class="form-check">
              {% for i in form.goal %}
              {{ i(class_='form-check-input') }} {{ i.label(class_='form-check-label') }}<br>
              {% endfor %}
            </div>
          </div>
          <div class="col">
            <p>Сколько времени есть?</p>
            <div class="form-check">
              {% for i in form.time %}
              {{ i(class_='form-check-input') }} {{ i.label(class_='form-check-label') }}<br>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="card-body mx-3">
        {{ form.name.label(class_='mb-1 mt-2') }}
        {{ form.name(class_='form-control') }}
        {{ form.phone.label(class_='mb-1 mt-2') }}
        {{ form.phone(class_='form-control') }}
        {{ form.csrf_token }}
        <input type="submit" class="btn btn-primary mt-4 mb-2" value="Найдите мне преподавателя">
      </div>
    </form>
  </div>
</main>
{% endblock body %}